<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fido</title>
</head>
<body style="background-color: rgb(46, 170, 186); text-align: center;">
    <div class="informacion" style="position: absolute; left: 400px; bottom: 210px; font-size: 25px;">

        
        <img src="images/gato2.png" alt="Max"
            style="width: 250px; position: relative; bottom: -320px; right: 370px;">
        <h4>Nombre: Marcos</h4>
        <h4>Edad: 1 Meses y Medio</h4>
        <h4>Genero: Macho</h4>
        <h4>Esterilizado: No</h4>
        <h4>Cod. Chip: Sin Chip</h4>
    </div>
    <footer>
        <a href="index.html">Volver al inicio</a>
        <br>
        <a href="listadegatos.html">Volver a la lista de Gatos</a>
    </footer>
    
</body>
</html>