<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modificar</title>
    <link rel="stylesheet" href="{% static '/css/estilo.css' %}">
</head>
<body>
    <h1>Modificar datos de una mascota</h1>

    {% if mascota %}
    <form action="modificarMascota" method="post">
        {% csrf_token %}

        <pre>ID mascota:                        <input type="text" name="idMascota" value="{{mascota.id_mascota}}" readonly></pre>
        <pre>Nombre mascota:                    <input type="text" name="nombreMascota" value="{{mascota.nombre_mascota}}"></pre>
        <pre>Fecha nacimiento:                  <input type="date" name="fechaNac" value="{{mascota.fecha_nacimiento|date:'Y-m-d'}}"></pre>
        <pre>Raza mascota:                      <input type="text" name="razaMascota" value="{{mascota.raza_mascota}}"></pre>
        <pre>Sexo mascota:                      <select name="sexo" value="{{mascota.id_sexo.sexo}}">
            {% for s in sexo %}
                <option value="{{s.id_sexo}}" selected>{{s.sexo}}</option>  
            {% endfor %}</select></pre>
        <input type="submit" name="opcion" value="Actualizar datos">

    </form>
    {% endif %}
    <br></bra><a href="{% url 'admin' %}">Volver a Administración</a>
</body>
</html>