<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Max</title>
</head>
<body style="background-color: rgb(46, 170, 186); text-align: center;">
    <div class="informacion" style="position: absolute; left: 400px; bottom: 210px; font-size: 25px;">

        
        <img src="images/perro2.png" alt="Max"
            style="width: 250px; position: relative; bottom: -320px; right: 370px;">
        <h4>Nombre: Max</h4>
        <h4>Edad: 8 Meses</h4>
        <h4>Genero: Macho</h4>
        <h4>Esterilizado: No</h4>
        <h4>Cod. Chip: PKM9347</h4>
    </div>
    <footer>
        <a href="Paginainicio.html">Volver al inicio</a>
        <br>
        <a href="listadeperros.html">Volver a la lista de Perros</a>
    </footer>
    
</body>
</html>