<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lista gatos</title>
    <link rel="stylesheet" href=css/estilo.css>
</head>
<body style="background-color: rgb(46, 170, 186); text-align: center;">
    <header>
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="listadeperros.html  ">Perros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="listadegatos.html">degatos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true"></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
        <h1>Ayuda a un peludo</h1>
        <p style="font-size: 25px;">Estos son Nuestros perritos que buscan un hogar</p>
    </header>

    <main>
        
        <a href="lara.html">
            <img src="images/gato1.png" alt="Perro" height="180px">
            <p>Ver datos de "Lara"</p>
        </a>
        <a href="marcos.html">
            <img src="images/gato2.png" alt="perro" height="180px">
            <p>Ver datos de "Marcos"</p>
        </a>
        <a href="mia.html">
            <img src="images/gato3.png" alt="Perro" height="180px">
            <p>Ver datos de "Mia"</p>
        </a>
    </main>
    <footer>
        <a href="Paginainicio.html">Volver al inicio</a>
    </footer>
</body>
</html>